.flex-img {
    max-width: 100%;
    min-width: 100%;
}

.event-name {
	font-size: 1.9rem
}

.info-button {
    width: 100%;
    height: 40px;
    border: 2px solid #48343A;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    font-size: 1.1rem;
}

.paginate-section {
    padding-left: 10px;
}

.info-button:hover {
	box-shadow: 0 0 3px rgba(0, 0, 0, .8);
}

.event-details {
	font-size: 0.8rem;
}

.single-event-error {
    color: red;
    font-size: 15px;
    width: 173 px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.paginate-button {
    border: 2px solid #48343A;
    padding: 5px 16px;
}

.paginate-button:hover {
    background-color: #48343a;
    color: #ececec;
}